* {
    margin: 0;
    padding: 0;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 移动方案适配 --vw/vh 假设750设计稿*/
/* 默认 100vw=750px  */

html {
    font-size: 13.333333vw;
}

body {
    font-size: 14px;
    max-width: 750px;
    margin: 0 auto;
}

@media screen and(min-width:750px) {
    html {
        font-size: 100px;
    } 
}